:root {
    font-family: 'Overpass', sans-serif;

    /* button active */
    --btn-active: hsl(217, 12%, 63%);

    /* button disabled */
    --btn-disabled: hsl(213, 19%, 18%);
}

body {
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}

body * {
    color: hsl(217, 12%, 63%);
}

#card-1 {

}

#card-2 {
    display: none;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 360px;
    background-color: #1c242e;

    padding: 34px;
    border-radius: 32px;
    box-sizing: content-box;
}

.container #icon {
    display: flex;
    width: 54px;
    height: 54px;
    background: hsl(213, 19%, 18%) url("./images/icon-star.svg") no-repeat center;

    border-radius: 50%;
}

#desc {
    text-align: center;
}

.container h1 {
    margin-top: 32px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.container p, .info {
    font-size: 15px;
    font-weight: 400;
}

/* buttons */
#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

#buttons input {
    width: 54px;
    height: 54px;
    background-color: var(--btn-disabled);
    border: none;
    border-radius: 50%;
    font-weight: 700;

    transition: background 0.5s;
}

#buttons input:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#buttons .active {
    background-color: var(--btn-active);
    color: hsl(0, 0%, 100%);
}

#buttons .active:hover {
    background-color: var(--btn-active);
    color: hsl(0, 0%, 100%);
}

#submit {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: hsl(25, 97%, 53%);
    margin-top: 32px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.2px;
    font-weight: 700;
    font-size: 18px;

    transition: background 0.5s;
}

#submit:disabled {
    background-color: #eabd9f;
}

#submit:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.head {
    text-align: center;
}

.info {
    margin-top: 22px;
    padding: 6px 18px;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    border-radius: 50px;
}



.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }